<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About us</h2>
                <hr class="light">
                <p class="text-faded">Welcome to <b>GalaxIA Insights</b>, where advanced machine learning and data science intersect with business consulting expertise. Founded by a team of four astrophysicists turned data science enthusiasts, we bring a unique perspective to the world of business analytics, leveraging our analytical skills and scientific background to drive data-driven solutions for companies across industries. </p>
                <p class="text-faded">At <b>GalaxIA Insights</b>, we specialize in harnessing the power of machine learning algorithms and data science methodologies to unlock actionable insights from complex business datasets. From market trends and consumer behavior to operational efficiency and risk management, our innovative approach empowers organizations to make informed decisions and achieve sustainable growth. </p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
